# Exploration des fichiers

In [2]:
import os 
os.getcwd()

'/home/onyxia/STATAPP'

In [3]:
!ls -R données/

données/:
dpe-france.csv	valeursfoncieres-2020.txt

## Exploration du fichier dpe-france.csv

In [4]:
import pandas as pd

df_dpe = pd.read_csv("données/dpe-france.csv", sep=",", low_memory=False)
df_dpe.head()
df_dpe.columns

Index(['numero_dpe', 'nom_methode_dpe', 'version_methode_dpe',
       'date_etablissement_dpe', 'consommation_energie',
       'classe_consommation_energie', 'estimation_ges',
       'classe_estimation_ges', 'annee_construction', 'surface_thermique_lot',
       'latitude', 'longitude', 'tr001_modele_dpe_type_libelle',
       'tr002_type_batiment_description', 'code_insee_commune_actualise',
       'tv016_departement_code', 'geo_adresse', 'geo_score'],
      dtype='object')

## Exploration du fichier valeursfoncieres-2020.txt

In [5]:
df_valeurs = pd.read_csv("données/valeursfoncieres-2020.txt", sep="|", low_memory=False)
df_valeurs.head()
df_valeurs.columns

Index(['Identifiant de document', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

## Filtrer les données pour le département 44

In [6]:
df_dpe["tv016_departement_code"].unique()

array(['74', '56', '19', '86', '13', '66', '72', '35', '40', '64', '14',
       '10', '38', '23', '24', '82', '78', '49', '95', '18', '67', '02',
       '42', '62', '05', '54', '87', '89', '76', '2B', '11', '84', '16',
       '65', '60', '25', '03', '57', '01', '52', '45', '30', '04', '83',
       '91', '44', '33', '88', '77', '32', '73', '27', '34', '15', '07',
       '50', '43', '22', '79', '17', '69', '61', '63', '36', '12', '55',
       '29', '53', '68', '51', '93', '06', '90', '09', '26', '59', '85',
       '2A', '21', '48', '71', '94', '47', '80', '46', '58', '31', '75',
       '39', '28', '41', '81', '92', '37', '70', '08'], dtype=object)

In [7]:
df_dpe_44 = df_dpe[df_dpe["tv016_departement_code"] == "44"]
df_dpe_44.shape

(283629, 18)

In [8]:
df_dpe_44["geo_adresse"].head(10)

45                     3 Chemin Poisson 44100 Nantes
146                                              NaN
287        3 Rue Sainte-anne 44450 Divatte-sur-Loire
329                2 Route de Carquefou 44300 Nantes
462                                              NaN
570       7 Rue Suzanne Lenglen 44800 Saint-Herblain
632                                              NaN
765                6 Rue Henri Gautier 44220 Couëron
850                                              NaN
912    Rue du champ de foire 44650 Corcoué-sur-Logne
Name: geo_adresse, dtype: object

## Filtrer df_valeurs pour le département 44 et df_dpe_44 pour 2020

In [9]:
# Vérifier la forme de Code departement : 
# (on suppose que c’est une chaîne, donc "44")
df_valeurs_44 = df_valeurs[df_valeurs["Code departement"] == "44"]

df_valeurs_44.shape

(82779, 43)

In [10]:
df_dpe_44["date_etablissement_dpe"].head(10)

45     2013-04-10
146    2013-04-09
287    2013-04-11
329    2013-04-12
462    2013-04-14
570    2013-04-16
632    2013-04-17
765    2013-04-17
850    2013-04-05
912    2013-04-22
Name: date_etablissement_dpe, dtype: object

In [11]:
df_dpe_44["date_etablissement_dpe"] = pd.to_datetime(df_dpe_44["date_etablissement_dpe"], errors="coerce", dayfirst=True)

/tmp/ipykernel_28306/819217646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dpe_44["date_etablissement_dpe"] = pd.to_datetime(df_dpe_44["date_etablissement_dpe"], errors="coerce", dayfirst=True)

In [12]:
df_dpe_44["date_etablissement_dpe"].head(10)

45    2013-10-04
146   2013-09-04
287   2013-11-04
329   2013-12-04
462          NaT
570          NaT
632          NaT
765          NaT
850   2013-05-04
912          NaT
Name: date_etablissement_dpe, dtype: datetime64[ns]

In [13]:
df_dpe_44["year"] = df_dpe_44["date_etablissement_dpe"].dt.year
df_dpe_44.groupby("year").size()

/tmp/ipykernel_28306/2785394278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dpe_44["year"] = df_dpe_44["date_etablissement_dpe"].dt.year

year
2011.0        2
2012.0        1
2013.0     5720
2014.0    11592
2015.0    11429
2016.0    11848
2017.0    12044
2018.0    14553
2019.0    18359
2020.0    15837
2021.0    10798
2022.0        1
dtype: int64

In [14]:
df_dpe_44_2020 = df_dpe_44[df_dpe_44["date_etablissement_dpe"].dt.year == 2020]
df_dpe_44_2020.shape

(15837, 19)

In [15]:
df_valeurs_44[["No voie", "B/T/Q", "Type de voie", "Voie", "Code postal", "Commune"]].head(10)

         No voie B/T/Q Type de voie            Voie  Code postal      Commune
1566104      2.0   NaN          RUE           LEMOT      44100.0       NANTES
1566105      2.0   NaN          RUE           LEMOT      44100.0       NANTES
1566106      4.0   NaN          RUE          RICHER      44100.0       NANTES
1566107      4.0   NaN          RUE          RICHER      44100.0       NANTES
1566108      2.0   NaN          ALL  DE L'ORANGERIE      44800.0  ST-HERBLAIN
1566109      2.0   NaN          ALL  DE L'ORANGERIE      44800.0  ST-HERBLAIN
1566110      2.0   NaN          ALL  DE L'ORANGERIE      44800.0  ST-HERBLAIN
1566111     92.0   NaN          RUE    D ALLONVILLE      44000.0       NANTES
1566112     35.0   NaN           AV   DES EPAGNEULS      44300.0       NANTES
1566113     19.0   NaN          RUE         GALILEE      44100.0       NANTES

In [16]:
df_valeurs_44['adresse_complete'] = (
    df_valeurs_44['No voie'].fillna('').astype(str) + ' ' +
    df_valeurs_44['Type de voie'].fillna('') + ' ' +
    df_valeurs_44['Voie'].fillna('') + ' ' +
    df_valeurs_44['Code postal'].fillna('').astype(str) + ' ' +
    df_valeurs_44['Commune'].fillna('')
)

# On peut ensuite nettoyer les espaces multiples :
df_valeurs_44['adresse_complete'] = df_valeurs_44['adresse_complete'].str.replace(r'\s+', ' ', regex=True).str.strip()

/tmp/ipykernel_28306/786399069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valeurs_44['adresse_complete'] = (
/tmp/ipykernel_28306/786399069.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valeurs_44['adresse_complete'] = df_valeurs_44['adresse_complete'].str.replace(r'\s+', ' ', regex=True).str.strip()

In [17]:
df_valeurs_44[['No voie','Type de voie','Voie','Code postal','Commune','adresse_complete']].head(10)

,No voie,Type de voie,Voie,Code postal,Commune,adresse_complete
1566104,2.0,RUE,LEMOT,44100.0,NANTES,2.0 RUE LEMOT 44100.0 NANTES
1566105,2.0,RUE,LEMOT,44100.0,NANTES,2.0 RUE LEMOT 44100.0 NANTES
1566106,4.0,RUE,RICHER,44100.0,NANTES,4.0 RUE RICHER 44100.0 NANTES
1566107,4.0,RUE,RICHER,44100.0,NANTES,4.0 RUE RICHER 44100.0 NANTES
1566108,2.0,ALL,DE L'ORANGERIE,44800.0,ST-HERBLAIN,2.0 ALL DE L'ORANGERIE 44800.0 ST-HERBLAIN
1566109,2.0,ALL,DE L'ORANGERIE,44800.0,ST-HERBLAIN,2.0 ALL DE L'ORANGERIE 44800.0 ST-HERBLAIN
1566110,2.0,ALL,DE L'ORANGERIE,44800.0,ST-HERBLAIN,2.0 ALL DE L'ORANGERIE 44800.0 ST-HERBLAIN
1566111,92.0,RUE,D ALLONVILLE,44000.0,NANTES,92.0 RUE D ALLONVILLE 44000.0 NANTES
1566112,35.0,AV,DES EPAGNEULS,44300.0,NANTES,35.0 AV DES EPAGNEULS 44300.0 NANTES
1566113,19.0,RUE,GALILEE,44100.0,NANTES,19.0 RUE GALILEE 44100.0 NANTES

## Suppression des lignes sans adresse

Pour df_valeurs_44, On vérifie que voie et communes ne sont pas vides

In [49]:
mask_valeurs = (
    df_valeurs_44['Voie'].notna() & (df_valeurs_44['Voie'] != '') &
    df_valeurs_44['Commune'].notna() & (df_valeurs_44['Commune'] != '')
)

In [50]:
print("Taille avant filtrage :", df_valeurs_44.shape)
df_valeurs_44 = df_valeurs_44[mask_valeurs]
print("Taille après filtrage :", df_valeurs_44.shape)

Taille avant filtrage : (75981, 51)
Taille après filtrage : (74790, 51)

Pareil pour l'autre

In [51]:
mask_dpe = df_dpe_44_2020['geo_adresse'].notna() & (df_dpe_44_2020['geo_adresse'] != '')

In [52]:
print("Taille avant filtrage :", df_dpe_44_2020.shape)
df_dpe_44_2020 = df_dpe_44_2020[mask_dpe]
print("Taille après filtrage :", df_dpe_44_2020.shape)

Taille avant filtrage : (14229, 26)
Taille après filtrage : (14229, 26)

## Installation et import de libpostal (pypostal)

## On normalise les adresses et on parse

In [18]:
!pip install postal

Requirement already satisfied: postal in /opt/conda/lib/python3.12/site-packages (1.1.10)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from postal) (1.17.0)

In [19]:
from postal.parser import parse_address
from postal.expand import expand_address

In [170]:
import re

def nettoyer_adresse(adresse):
    # Retirer des parenthèses s'il y en a
    adresse = re.sub(r'\(|\)', ' ', adresse)
    # Retirer les ".0" si tu en as encore
    adresse = re.sub(r'(\d+)\.0\b', r'\1', adresse)
    # Autres nettoyages...
    return adresse

df_valeurs_44['adresse_complete'] = df_valeurs_44['adresse_complete'].apply(nettoyer_adresse)

In [218]:
def corriger_commune(adresse):
    # Supprimer les espaces en fin
    adresse = adresse.rstrip()
    # Puis remplacer
    adresse = adresse.replace("CHAPELLE-SUR-ERDRE  LA", "LA CHAPELLE-SUR-ERDRE")
    adresse = adresse.replace("CHEVROLIERE  LA", "LA CHEVROLIERE")
    return adresse

In [219]:
# 1) Nettoyage des parenthèses, ".0", etc.
df_valeurs_44['adresse_complete'] = df_valeurs_44['adresse_complete'].apply(nettoyer_adresse)

# 2) Correction de la commune "CHAPELLE-SUR-ERDRE LA" -> "LA CHAPELLE-SUR-ERDRE"
df_valeurs_44['adresse_complete'] = df_valeurs_44['adresse_complete'].apply(corriger_commune)

In [220]:
from postal.expand import expand_address
from postal.parser import parse_address

def expand_first_version(adresse):
    expansions = expand_address(adresse, languages=['fr'])
    if expansions:
        return expansions[0]  # on prend la première version
    return adresse

# 2) Normaliser avec expand_address
df_valeurs_44['adresse_normalisee'] = df_valeurs_44['adresse_complete'].apply(expand_first_version)

# 3) Parser l’adresse normalisée
def parse_to_dict(adresse):
    parsed_list = parse_address(adresse)
    return {label: fragment for fragment, label in parsed_list}

df_valeurs_44['adresse_parsee_dict'] = df_valeurs_44['adresse_normalisee'].apply(parse_to_dict)

df_valeurs_44['house_number'] = df_valeurs_44['adresse_parsee_dict'].apply(lambda x: x.get('house_number', ''))
df_valeurs_44['road']         = df_valeurs_44['adresse_parsee_dict'].apply(lambda x: x.get('road', ''))
df_valeurs_44['postcode']     = df_valeurs_44['adresse_parsee_dict'].apply(lambda x: x.get('postcode', ''))
df_valeurs_44['city']         = df_valeurs_44['adresse_parsee_dict'].apply(lambda x: x.get('city', ''))

In [221]:
import re

def replacer_code_postal(row):
    hn = row['house_number']
    pc = row['postcode']
    if re.match(r'^\d{5}$', hn) and pc == '':
        row['postcode'] = hn
        row['house_number'] = ''
    return row

df_valeurs_44 = df_valeurs_44.apply(replacer_code_postal, axis=1)

In [222]:
import re

def extraire_numero_debut_road(row):
    """
    Si 'road' commence par un nombre (ex: "29 rue charles nungesser"),
    on extrait ce nombre et on le place dans 'house_number' si ce dernier est vide.
    """
    r = row['road'].strip()
    # Cherche un motif "nombre" au début, ex: "29 " + le reste
    match = re.match(r'^(\d+)\s+(.*)', r)
    if match:
        numero = match.group(1)      # "29"
        reste_road = match.group(2) # "rue charles nungesser"
        if not row['house_number']:  # si house_number est vide
            row['house_number'] = numero
            row['road'] = reste_road
    return row

In [223]:
df_valeurs_44 = df_valeurs_44.apply(extraire_numero_debut_road, axis=1)

In [177]:
df_valeurs_44.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Nature culture speciale,Surface terrain,adresse_complete,adresse_normalisee,adresse_parsee_dict,house_number,road,postcode,city,identifiant_comm
1566104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2020,Vente,...,NaN,NaN,2 RUE LEMOT 44100 NANTES,2 rue lemot 44100 nantes,"{'house_number': '2', 'road': 'rue lemot', 'po...",2,rue lemot,44100,nantes,2_rue lemot_44100_nantes
1566105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2020,Vente,...,NaN,NaN,2 RUE LEMOT 44100 NANTES,2 rue lemot 44100 nantes,"{'house_number': '2', 'road': 'rue lemot', 'po...",2,rue lemot,44100,nantes,2_rue lemot_44100_nantes
1566106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2020,Vente,...,NaN,NaN,4 RUE RICHER 44100 NANTES,4 rue richer 44100 nantes,"{'house_number': '4', 'road': 'rue richer', 'p...",4,rue richer,44100,nantes,4_rue richer_44100_nantes
1566107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2020,Vente,...,NaN,NaN,4 RUE RICHER 44100 NANTES,4 rue richer 44100 nantes,"{'house_number': '4', 'road': 'rue richer', 'p...",4,rue richer,44100,nantes,4_rue richer_44100_nantes
1566108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2020,Vente en l'état futur d'achèvement,...,NaN,NaN,2 ALL DE L'ORANGERIE 44800 ST-HERBLAIN,2 allee de l'orangerie 44800 st-herblain,"{'house_number': '2', 'road': 'allee de l'oran...",2,allee de l'orangerie,44800,st-herblain,2_allee de l'orangerie_44800_st-herblain

## on fait pareil pour df_dpe_44

In [207]:
df_dpe_44_2020['geo_adresse'] = df_dpe_44_2020['geo_adresse'].fillna('').astype(str)
df_dpe_44_2020['adresse_normalisee'] = df_dpe_44_2020['geo_adresse'].apply(expand_first_version)

In [208]:
# 1) Normaliser avec expand_address sur df_dpe_44_2020
df_dpe_44_2020['adresse_normalisee'] = df_dpe_44_2020['geo_adresse'].apply(expand_first_version)

# 2) Parser l’adresse normalisée
df_dpe_44_2020['adresse_parsee_dict'] = df_dpe_44_2020['adresse_normalisee'].apply(parse_to_dict)

df_dpe_44_2020['house_number'] = df_dpe_44_2020['adresse_parsee_dict'].apply(lambda x: x.get('house_number', ''))
df_dpe_44_2020['road']         = df_dpe_44_2020['adresse_parsee_dict'].apply(lambda x: x.get('road', ''))
df_dpe_44_2020['postcode']     = df_dpe_44_2020['adresse_parsee_dict'].apply(lambda x: x.get('postcode', ''))
df_dpe_44_2020['city']         = df_dpe_44_2020['adresse_parsee_dict'].apply(lambda x: x.get('city', ''))

In [209]:

df_dpe_44_2020 = df_dpe_44_2020.apply(replacer_code_postal, axis=1)
df_dpe_44_2020 = df_dpe_44_2020.apply(extraire_numero_debut_road, axis=1)

In [182]:
df_dpe_44_2020.head()

,numero_dpe,nom_methode_dpe,version_methode_dpe,date_etablissement_dpe,consommation_energie,classe_consommation_energie,estimation_ges,classe_estimation_ges,annee_construction,surface_thermique_lot,...,geo_adresse,geo_score,year,adresse_normalisee,adresse_parsee_dict,house_number,road,postcode,city,identifiant_comm
9870735,2044L2000001W,Méthode Facture,NaN,2020-02-01,366.00,F,11.0,C,1947,67.31,...,16 Rue de l'Atlantique 44650 Legé,0.96,2020.0,16 rue de l'atlantique 44650 lege,"{'house_number': '16', 'road': 'rue de l'atlan...",16,rue de l'atlantique,44650,lege,16_rue de l'atlantique_44650_lege
9870778,2044V1000001W,Méthode 3CL,"3CL-DPE, version 1.3",2020-02-01,128.00,C,30.0,D,1989,72.00,...,11 Rue de la Haute Mitrie 44300 Nantes,0.97,2020.0,11 rue de la haute mitrie 44300 nantes,"{'house_number': '11', 'road': 'rue de la haut...",11,rue de la haute mitrie,44300,nantes,11_rue de la haute mitrie_44300_nantes
9870785,2044V1000002X,Méthode 3CL,"3CL-DPE, version 1.3",2020-02-01,144.00,C,33.0,D,1978,101.00,...,54 Rue Jean Marie Desbrosses 44800 Saint-Herblain,0.97,2020.0,54 rue jean marie desbrosses 44800 saint-herblain,"{'house_number': '54', 'road': 'rue jean marie...",54,rue jean marie desbrosses,44800,saint-herblain,54_rue jean marie desbrosses_44800_saint-herblain
9870800,2044V1000003Y,3CL - DPE,V2012,2020-02-01,326.03,E,14.9,C,1987,19.98,...,13 Rue du Coudray 44000 Nantes,0.98,2020.0,13 rue du coudray 44000 nantes,"{'house_number': '13', 'road': 'rue du coudray...",13,rue du coudray,44000,nantes,13_rue du coudray_44000_nantes
9870807,2044V1000004@,Méthode 3CL,"3CL-DPE, version 1.3",2020-02-01,299.00,E,16.0,C,1959,70.00,...,8 Rue de la Treille 44680 Chaumes-en-Retz,0.51,2020.0,8 rue de la treille 44680 chaumes-en-retz,"{'house_number': '8', 'road': 'rue de la treil...",8,rue de la treille,44680,chaumes-en-retz,8_rue de la treille_44680_chaumes-en-retz

In [210]:
def creer_cle_adresse(house_number, road, postcode, city):
    return f"{house_number.strip().lower()}_{road.strip().lower()}_{postcode.strip()}_{city.strip().lower()}"

In [231]:
df_valeurs_44['identifiant_comm'] = df_valeurs_44.apply(
    lambda row: creer_cle_adresse(row['house_number'], row['road'], row['postcode'], row['city']),
    axis=1
)

df_dpe_44_2020['identifiant_comm'] = df_dpe_44_2020.apply(
    lambda row: creer_cle_adresse(row['house_number'], row['road'], row['postcode'], row['city']),
    axis=1
)

In [232]:
print(df_valeurs_44[['house_number','road','postcode','city','identifiant_comm']].head(5))
print(df_dpe_44_2020[['house_number','road','postcode','city','identifiant_comm']].head(5))

        house_number                  road postcode         city  \
1566104            2             rue lemot    44100       nantes
1566105            2             rue lemot    44100       nantes
1566106            4            rue richer    44100       nantes
1566107            4            rue richer    44100       nantes
1566108            2  allee de l'orangerie    44800  st-herblain

                                 identifiant_comm
1566104                  2_rue lemot_44100_nantes
1566105                  2_rue lemot_44100_nantes
1566106                 4_rue richer_44100_nantes
1566107                 4_rue richer_44100_nantes
1566108  2_allee de l'orangerie_44800_st-herblain
        house_number                       road postcode             city  \
9870735           16        rue de l'atlantique    44650             lege
9870778           11     rue de la haute mitrie    44300           nantes
9870785           54  rue jean marie desbrosses    44800   saint-herblain
9870800           13             rue du coudray    44000           nantes
9870807            8          rue de la treille    44680  chaumes-en-retz

                                          identifiant_comm
9870735                  16_rue de l'atlantique_44650_lege
9870778             11_rue de la haute mitrie_44300_nantes
9870785  54_rue jean marie desbrosses_44800_saint-herblain
9870800                     13_rue du coudray_44000_nantes
9870807          8_rue de la treille_44680_chaumes-en-retz

In [233]:
import re

def corriger_house_number_cp(row):
    hn = row['house_number']
    pc = row['postcode']
    # Regex pour détecter un code postal (5 chiffres, commence par 44, par exemple)
    if re.match(r'^44\d{3}$', hn) and (pc == '' or pc is None):
        # On déplace le house_number dans postcode
        row['postcode'] = hn
        # On vide le house_number
        row['house_number'] = ''
    return row

df_valeurs_44 = df_valeurs_44.apply(corriger_house_number_cp, axis=1)

# MATCH

In [234]:
df_match = pd.merge(
    df_valeurs_44,
    df_dpe_44_2020,
    on='identifiant_comm',
    how='inner',  # ou left, selon ton besoin
    suffixes=('_valeurs', '_dpe')
)

On regarde la taille du matching vs la taille des 2 bdd initiales : on voit qu'il y a un problème

In [243]:
print("Taille de df_match :", df_match.shape)

Taille de df_match : (27059, 76)

In [244]:
print("Taille de df_valeurs_44 :", df_valeurs_44.shape)
print("Taille de df_dpe_44_2020 :", df_dpe_44_2020.shape)

Taille de df_valeurs_44 : (74790, 51)
Taille de df_dpe_44_2020 : (14229, 26)

In [235]:
compte_valeurs = df_valeurs_44.groupby('identifiant_comm').size().sort_values(ascending=False)
compte_valeurs.head(10)

identifiant_comm
__44380_pornichet                           283
_haie-fouassiere la_44690_                  274
_route de gachet_44300_nantes               273
__44220_coueron                             262
_sorinieres les_44840_                      245
__44800_st-herblain                         211
2_allee de l'orangerie_44800_st-herblain    179
_marne la_44270_                            176
_ancenis-saint-gereon_44150_                175
13_rue maryse guerlais_44200_nantes         165
dtype: int64

In [238]:
compte_dpe = df_dpe_44_2020.groupby('identifiant_comm').size().sort_values(ascending=False)
compte_dpe.head(10)

identifiant_comm
1_rue de cahors_44800_saint-herblain                 307
2_rue d'allonville_44000_nantes                      176
21_boulevard de berlin_44000_nantes                  101
1_rue de corse_44000_nantes                           83
_rue de la chaterie_44430_la boissiere-du-dore        72
_ancenis-saint-gereon_44150_                          70
10_rue evariste luminais_44100_nantes                 58
_avenue jean de neyman_44500_la baule-escoublac       58
89_avenue francois mitterrand_44600_saint-nazaire     57
_boulevard de la prairie au duc_44200_nantes          54
dtype: int64

 Inspectons les adresses les plus fréquentes dans df_dpe_44_2020

Vérifier la distribution des clés dans chaque DataFrame

In [240]:
# Pour df_valeurs_44
compte_valeurs = df_valeurs_44.groupby('identifiant_comm').size().sort_values(ascending=False)
print("Top 10 des identifiants dans df_valeurs_44 :")
print(compte_valeurs.head(10))

# Pour df_dpe_44_2020
compte_dpe = df_dpe_44_2020.groupby('identifiant_comm').size().sort_values(ascending=False)
print("Top 10 des identifiants dans df_dpe_44_2020 :")
print(compte_dpe.head(10))

Top 10 des identifiants dans df_valeurs_44 :
identifiant_comm
__44380_pornichet                           283
_haie-fouassiere la_44690_                  274
_route de gachet_44300_nantes               273
__44220_coueron                             262
_sorinieres les_44840_                      245
__44800_st-herblain                         211
2_allee de l'orangerie_44800_st-herblain    179
_marne la_44270_                            176
_ancenis-saint-gereon_44150_                175
13_rue maryse guerlais_44200_nantes         165
dtype: int64
Top 10 des identifiants dans df_dpe_44_2020 :
identifiant_comm
1_rue de cahors_44800_saint-herblain                 307
2_rue d'allonville_44000_nantes                      176
21_boulevard de berlin_44000_nantes                  101
1_rue de corse_44000_nantes                           83
_rue de la chaterie_44430_la boissiere-du-dore        72
_ancenis-saint-gereon_44150_                          70
10_rue evariste luminais_44100_nantes                 58
_avenue jean de neyman_44500_la baule-escoublac       58
89_avenue francois mitterrand_44600_saint-nazaire     57
_boulevard de la prairie au duc_44200_nantes          54
dtype: int64

In [241]:
compte_match = df_match.groupby('identifiant_comm').size().sort_values(ascending=False)
compte_match.head(10)

identifiant_comm
_ancenis-saint-gereon_44150_                    12250
_vallons-de-lerdre_44540_                        1140
95_avenue de la patouillerie_44700_orvault       1022
1_boulevard alexandre millerand_44200_nantes      700
16_rue des saumonieres_44300_nantes               510
__44130_blain                                     357
__44370_loireauxence                              344
21_boulevard de berlin_44000_nantes               303
__44210_pornic                                    288
16_rue de la fonderie_44200_nantes                230
dtype: int64

In [242]:
# Récupérer la première clé de df_valeurs_44, par exemple
cle_plus_frequente_valeurs = compte_valeurs.index[0]
print("Clé la plus fréquente dans df_valeurs_44 :", cle_plus_frequente_valeurs)

# Filtrer pour voir les lignes correspondantes
df_valeurs_44[df_valeurs_44['identifiant_comm'] == cle_plus_frequente_valeurs]

Clé la plus fréquente dans df_valeurs_44 : __44380_pornichet

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Nature culture speciale,Surface terrain,adresse_complete,adresse_normalisee,adresse_parsee_dict,house_number,road,postcode,city,identifiant_comm
1618162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,15/01/2020,Vente,...,NaN,166.0,PARC DE CAVARO 44380 PORNICHET,parc de cavaro 44380 pornichet,"{'house': 'parc de cavaro', 'postcode': '44380...",,,44380,pornichet,__44380_pornichet
1618789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,28/01/2020,Vente,...,NaN,466.0,LES CHAMPS AU MOINE 44380 PORNICHET,les champs au moine 44380 pornichet,"{'city': 'pornichet', 'postcode': '44380'}",,,44380,pornichet,__44380_pornichet
1618935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,27/01/2020,Vente,...,NaN,510.0,LE PLADOUX 44380 PORNICHET,le pladoux 44380 pornichet,"{'house': 'le pladoux', 'postcode': '44380', '...",,,44380,pornichet,__44380_pornichet
1619467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,31/01/2020,Vente,...,NaN,485.0,LA VILLES NOIRE 44380 PORNICHET,la villes noire 44380 pornichet,"{'house': 'la villes noire', 'postcode': '4438...",,,44380,pornichet,__44380_pornichet
1619805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/02/2020,Vente en l'état futur d'achèvement,...,NaN,NaN,ILE DE SIFFRAIS 44380 PORNICHET,ile de siffrais 44380 pornichet,"{'house': 'ile de siffrais', 'postcode': '4438...",,,44380,pornichet,__44380_pornichet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1636373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,29/12/2020,Vente en l'état futur d'achèvement,...,NaN,NaN,LA VILLES LIRON 44380 PORNICHET,la villes liron 44380 pornichet,"{'house': 'la villes', 'city': 'pornichet', 'p...",,,44380,pornichet,__44380_pornichet
1636374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,29/12/2020,Vente en l'état futur d'achèvement,...,NaN,NaN,LA VILLES LIRON 44380 PORNICHET,la villes liron 44380 pornichet,"{'house': 'la villes', 'city': 'pornichet', 'p...",,,44380,pornichet,__44380_pornichet
1636375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,29/12/2020,Vente en l'état futur d'achèvement,...,NaN,NaN,LA VILLES LIRON 44380 PORNICHET,la villes liron 44380 pornichet,"{'house': 'la villes', 'city': 'pornichet', 'p...",,,44380,pornichet,__44380_pornichet
1636376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,29/12/2020,Vente en l'état futur d'achèvement,...,NaN,NaN,LA VILLES LIRON 44380 PORNICHET,la villes liron 44380 pornichet,"{'house': 'la villes', 'city': 'pornichet', 'p...",,,44380,pornichet,__44380_pornichet
1637423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,29/12/2020,Vente en l'état futur d'achèvement,...,NaN,NaN,LES MORTIERS PLATS 44380 PORNICHET,les mortiers plats 44380 pornichet,"{'house': 'les mortiers', 'city': 'pornichet',...",,,44380,pornichet,__44380_pornichet