# Exploration des fichiers

In [1]:
import os 
os.getcwd()

'/home/onyxia/STATAPP'

In [3]:
!ls -R données/

données/:
dpe-france.csv	valeursfoncieres-2020.txt

## Exploration du fichier dpe-france.csv

In [4]:
import pandas as pd

df_dpe = pd.read_csv("données/dpe-france.csv", sep=",", low_memory=False)
df_dpe.head()
df_dpe.columns

Index(['numero_dpe', 'nom_methode_dpe', 'version_methode_dpe',
       'date_etablissement_dpe', 'consommation_energie',
       'classe_consommation_energie', 'estimation_ges',
       'classe_estimation_ges', 'annee_construction', 'surface_thermique_lot',
       'latitude', 'longitude', 'tr001_modele_dpe_type_libelle',
       'tr002_type_batiment_description', 'code_insee_commune_actualise',
       'tv016_departement_code', 'geo_adresse', 'geo_score'],
      dtype='object')

## Exploration du fichier valeursfoncieres-2020.txt

In [5]:
df_valeurs = pd.read_csv("données/valeursfoncieres-2020.txt", sep="|", low_memory=False)
df_valeurs.head()
df_valeurs.columns

Index(['Identifiant de document', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

## Filtrer les données pour le département 44

In [6]:
df_dpe["tv016_departement_code"].unique()

array(['74', '56', '19', '86', '13', '66', '72', '35', '40', '64', '14',
       '10', '38', '23', '24', '82', '78', '49', '95', '18', '67', '02',
       '42', '62', '05', '54', '87', '89', '76', '2B', '11', '84', '16',
       '65', '60', '25', '03', '57', '01', '52', '45', '30', '04', '83',
       '91', '44', '33', '88', '77', '32', '73', '27', '34', '15', '07',
       '50', '43', '22', '79', '17', '69', '61', '63', '36', '12', '55',
       '29', '53', '68', '51', '93', '06', '90', '09', '26', '59', '85',
       '2A', '21', '48', '71', '94', '47', '80', '46', '58', '31', '75',
       '39', '28', '41', '81', '92', '37', '70', '08'], dtype=object)

In [7]:
df_dpe_44 = df_dpe[df_dpe["tv016_departement_code"] == "44"]
df_dpe_44.shape

(283629, 18)

In [8]:
df_dpe_44["geo_adresse"].head(10)

45                     3 Chemin Poisson 44100 Nantes
146                                              NaN
287        3 Rue Sainte-anne 44450 Divatte-sur-Loire
329                2 Route de Carquefou 44300 Nantes
462                                              NaN
570       7 Rue Suzanne Lenglen 44800 Saint-Herblain
632                                              NaN
765                6 Rue Henri Gautier 44220 Couëron
850                                              NaN
912    Rue du champ de foire 44650 Corcoué-sur-Logne
Name: geo_adresse, dtype: object

## Filtrer df_valeurs pour le département 44 et df_dpe_44 pour 2020

In [9]:
# Vérifier la forme de Code departement : 
# (on suppose que c’est une chaîne, donc "44")
df_valeurs_44 = df_valeurs[df_valeurs["Code departement"] == "44"]

df_valeurs_44.shape

(82779, 43)

In [10]:
df_dpe_44["date_etablissement_dpe"].head(10)

45     2013-04-10
146    2013-04-09
287    2013-04-11
329    2013-04-12
462    2013-04-14
570    2013-04-16
632    2013-04-17
765    2013-04-17
850    2013-04-05
912    2013-04-22
Name: date_etablissement_dpe, dtype: object

In [11]:
df_dpe_44["date_etablissement_dpe"] = pd.to_datetime(df_dpe_44["date_etablissement_dpe"], errors="coerce", dayfirst=True)

/tmp/ipykernel_15429/819217646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dpe_44["date_etablissement_dpe"] = pd.to_datetime(df_dpe_44["date_etablissement_dpe"], errors="coerce", dayfirst=True)

In [12]:
df_dpe_44["date_etablissement_dpe"].head(10)

45    2013-10-04
146   2013-09-04
287   2013-11-04
329   2013-12-04
462          NaT
570          NaT
632          NaT
765          NaT
850   2013-05-04
912          NaT
Name: date_etablissement_dpe, dtype: datetime64[ns]

In [13]:
df_dpe_44["year"] = df_dpe_44["date_etablissement_dpe"].dt.year
df_dpe_44.groupby("year").size()

/tmp/ipykernel_15429/2785394278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dpe_44["year"] = df_dpe_44["date_etablissement_dpe"].dt.year

year
2011.0        2
2012.0        1
2013.0     5720
2014.0    11592
2015.0    11429
2016.0    11848
2017.0    12044
2018.0    14553
2019.0    18359
2020.0    15837
2021.0    10798
2022.0        1
dtype: int64

In [14]:
df_dpe_44_2020 = df_dpe_44[df_dpe_44["date_etablissement_dpe"].dt.year == 2020]
df_dpe_44_2020.shape

(15837, 19)

In [15]:
df_valeurs_44[["No voie", "B/T/Q", "Type de voie", "Voie", "Code postal", "Commune"]].head(10)

         No voie B/T/Q Type de voie            Voie  Code postal      Commune
1566104      2.0   NaN          RUE           LEMOT      44100.0       NANTES
1566105      2.0   NaN          RUE           LEMOT      44100.0       NANTES
1566106      4.0   NaN          RUE          RICHER      44100.0       NANTES
1566107      4.0   NaN          RUE          RICHER      44100.0       NANTES
1566108      2.0   NaN          ALL  DE L'ORANGERIE      44800.0  ST-HERBLAIN
1566109      2.0   NaN          ALL  DE L'ORANGERIE      44800.0  ST-HERBLAIN
1566110      2.0   NaN          ALL  DE L'ORANGERIE      44800.0  ST-HERBLAIN
1566111     92.0   NaN          RUE    D ALLONVILLE      44000.0       NANTES
1566112     35.0   NaN           AV   DES EPAGNEULS      44300.0       NANTES
1566113     19.0   NaN          RUE         GALILEE      44100.0       NANTES

In [19]:
df_valeurs_44['adresse_complete'] = (
    df_valeurs_44['No voie'].fillna('').astype(str) + ' ' +
    df_valeurs_44['Type de voie'].fillna('') + ' ' +
    df_valeurs_44['Voie'].fillna('') + ' ' +
    df_valeurs_44['Code postal'].fillna('').astype(str) + ' ' +
    df_valeurs_44['Commune'].fillna('')
)

# On peut ensuite nettoyer les espaces multiples :
df_valeurs_44['adresse_complete'] = df_valeurs_44['adresse_complete'].str.replace(r'\s+', ' ', regex=True).str.strip()

/tmp/ipykernel_15429/786399069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valeurs_44['adresse_complete'] = (
/tmp/ipykernel_15429/786399069.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valeurs_44['adresse_complete'] = df_valeurs_44['adresse_complete'].str.replace(r'\s+', ' ', regex=True).str.strip()

In [21]:
df_valeurs_44[['No voie','Type de voie','Voie','Code postal','Commune','adresse_complete']].head(10)

,No voie,Type de voie,Voie,Code postal,Commune,adresse_complete
1566104,2.0,RUE,LEMOT,44100.0,NANTES,2.0 RUE LEMOT 44100.0 NANTES
1566105,2.0,RUE,LEMOT,44100.0,NANTES,2.0 RUE LEMOT 44100.0 NANTES
1566106,4.0,RUE,RICHER,44100.0,NANTES,4.0 RUE RICHER 44100.0 NANTES
1566107,4.0,RUE,RICHER,44100.0,NANTES,4.0 RUE RICHER 44100.0 NANTES
1566108,2.0,ALL,DE L'ORANGERIE,44800.0,ST-HERBLAIN,2.0 ALL DE L'ORANGERIE 44800.0 ST-HERBLAIN
1566109,2.0,ALL,DE L'ORANGERIE,44800.0,ST-HERBLAIN,2.0 ALL DE L'ORANGERIE 44800.0 ST-HERBLAIN
1566110,2.0,ALL,DE L'ORANGERIE,44800.0,ST-HERBLAIN,2.0 ALL DE L'ORANGERIE 44800.0 ST-HERBLAIN
1566111,92.0,RUE,D ALLONVILLE,44000.0,NANTES,92.0 RUE D ALLONVILLE 44000.0 NANTES
1566112,35.0,AV,DES EPAGNEULS,44300.0,NANTES,35.0 AV DES EPAGNEULS 44300.0 NANTES
1566113,19.0,RUE,GALILEE,44100.0,NANTES,19.0 RUE GALILEE 44100.0 NANTES

## Installation et import de libpostal (pypostal)

## D'abord on parse

In [16]:
!pip install postal

Collecting postal
  Downloading postal-1.1.10.tar.gz (21 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from postal) (1.17.0)
Building wheels for collected packages: postal
  Building wheel for postal (setup.py) ... done
  Created wheel for postal: filename=postal-1.1.10-cp312-cp312-linux_x86_64.whl size=55944 sha256=89419f6f64699fddbf7cbccafaa1775e4a9f7cd12e3c27192751040603988b88
  Stored in directory: /home/onyxia/.cache/pip/wheels/75/17/48/f13e759c377b45483298cd04b48af11eab3b97934267666aa0
Successfully built postal
Installing collected packages: postal
Successfully installed postal-1.1.10

In [17]:
from postal.parser import parse_address
from postal.expand import expand_address

In [32]:
from postal.expand import expand_address
from postal.parser import parse_address

def expand_first_version(adresse):
    expansions = expand_address(adresse, languages=['fr'])
    if expansions:
        return expansions[0]  # on prend la première version
    return adresse

# 2) Normaliser avec expand_address
df_valeurs_44['adresse_normalisee'] = df_valeurs_44['adresse_complete'].apply(expand_first_version)

# 3) Parser l’adresse normalisée
def parse_to_dict(adresse):
    parsed_list = parse_address(adresse)
    return {label: fragment for fragment, label in parsed_list}

df_valeurs_44['adresse_parsee_dict'] = df_valeurs_44['adresse_normalisee'].apply(parse_to_dict)

df_valeurs_44['house_number'] = df_valeurs_44['adresse_parsee_dict'].apply(lambda x: x.get('house_number', ''))
df_valeurs_44['road']         = df_valeurs_44['adresse_parsee_dict'].apply(lambda x: x.get('road', ''))
df_valeurs_44['postcode']     = df_valeurs_44['adresse_parsee_dict'].apply(lambda x: x.get('postcode', ''))
df_valeurs_44['city']         = df_valeurs_44['adresse_parsee_dict'].apply(lambda x: x.get('city', ''))

/tmp/ipykernel_15429/2197618751.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valeurs_44['adresse_normalisee'] = df_valeurs_44['adresse_complete'].apply(expand_first_version)
/tmp/ipykernel_15429/2197618751.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valeurs_44['adresse_parsee_dict'] = df_valeurs_44['adresse_normalisee'].apply(parse_to_dict)
/tmp/ipykernel_15429/2197618751.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valeurs_44['house_number'] = df_valeurs_44['adresse_parsee_dict'].apply(lambda x: x.get('house_number', ''))
/tmp/ipykernel_15429/2197618751.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valeurs_44['road']         = df_valeurs_44['adresse_parsee_dict'].apply(lambda x: x.get('road', ''))
/tmp/ipykernel_15429/2197618751.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valeurs_44['postcode']     = df_valeurs_44['adresse_parsee_dict'].apply(lambda x: x.get('postcode', ''))
/tmp/ipykernel_15429/2197618751.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valeurs_44['city']         = df_valeurs_44['adresse_parsee_dict'].apply(lambda x: x.get('city', ''))

In [33]:
df_valeurs_44.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,house_number,road,postcode,city,road_normalise,house_number_norm,postcode_norm,city_norm,identifiant_comm,adresse_normalisee
1566104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2020,Vente,...,2.0,rue lemot,44100.0,nantes,rue lemot,2.0,44100.0,nantes,2.0_rue lemot_44100.0_nantes,2.0 rue lemot 44100.0 nantes
1566105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2020,Vente,...,2.0,rue lemot,44100.0,nantes,rue lemot,2.0,44100.0,nantes,2.0_rue lemot_44100.0_nantes,2.0 rue lemot 44100.0 nantes
1566106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2020,Vente,...,4.0,rue richer,44100.0,nantes,rue richer,4.0,44100.0,nantes,4.0_rue richer_44100.0_nantes,4.0 rue richer 44100.0 nantes
1566107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2020,Vente,...,4.0,rue richer,44100.0,nantes,rue richer,4.0,44100.0,nantes,4.0_rue richer_44100.0_nantes,4.0 rue richer 44100.0 nantes
1566108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2020,Vente en l'état futur d'achèvement,...,2.0,allee de l'orangerie,44800.0,st-herblain,allée de l'orangerie,2.0,44800.0,st-herblain,2.0_allée de l'orangerie_44800.0_st-herblain,2.0 allee de l'orangerie 44800.0 st-herblain

In [27]:
print("Colonnes de df_valeurs_44 :", df_valeurs_44.columns.tolist())
print("Colonnes de df_dpe_44_2020 :", df_dpe_44_2020.columns.tolist())

Colonnes de df_valeurs_44 : ['Identifiant de document', 'Reference document', '1 Articles CGI', '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI', 'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere', 'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal', 'Commune', 'Code departement', 'Code commune', 'Prefixe de section', 'Section', 'No plan', 'No Volume', '1er lot', 'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot', '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot', 'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot', 'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local', 'Surface reelle bati', 'Nombre pieces principales', 'Nature culture', 'Nature culture speciale', 'Surface terrain', 'adresse_complete', 'adresse_parsee_dict', 'house_number', 'road', 'postcode', 'city']
Colonnes de df_dpe_44_2020 : ['numero_dpe', 'nom_methode_dpe', 'version_methode_dpe', 'date_etablissement_dpe', 'consommation_energie', 'classe_consommation_energie', 'estimation_ges', 'classe_estimation_ges', 'annee_construction', 'surface_thermique_lot', 'latitude', 'longitude', 'tr001_modele_dpe_type_libelle', 'tr002_type_batiment_description', 'code_insee_commune_actualise', 'tv016_departement_code', 'geo_adresse', 'geo_score', 'year']

In [35]:
df_dpe_44_2020['geo_adresse'] = df_dpe_44_2020['geo_adresse'].fillna('').astype(str)
df_dpe_44_2020['adresse_normalisee'] = df_dpe_44_2020['geo_adresse'].apply(expand_first_version)

/tmp/ipykernel_15429/1093920701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dpe_44_2020['geo_adresse'] = df_dpe_44_2020['geo_adresse'].fillna('').astype(str)
/tmp/ipykernel_15429/1093920701.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dpe_44_2020['adresse_normalisee'] = df_dpe_44_2020['geo_adresse'].apply(expand_first_version)

In [36]:
# 1) Normaliser avec expand_address sur df_dpe_44_2020
df_dpe_44_2020['adresse_normalisee'] = df_dpe_44_2020['geo_adresse'].apply(expand_first_version)

# 2) Parser l’adresse normalisée
df_dpe_44_2020['adresse_parsee_dict'] = df_dpe_44_2020['adresse_normalisee'].apply(parse_to_dict)

df_dpe_44_2020['house_number'] = df_dpe_44_2020['adresse_parsee_dict'].apply(lambda x: x.get('house_number', ''))
df_dpe_44_2020['road']         = df_dpe_44_2020['adresse_parsee_dict'].apply(lambda x: x.get('road', ''))
df_dpe_44_2020['postcode']     = df_dpe_44_2020['adresse_parsee_dict'].apply(lambda x: x.get('postcode', ''))
df_dpe_44_2020['city']         = df_dpe_44_2020['adresse_parsee_dict'].apply(lambda x: x.get('city', ''))

/tmp/ipykernel_15429/1665587909.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dpe_44_2020['adresse_normalisee'] = df_dpe_44_2020['geo_adresse'].apply(expand_first_version)
/tmp/ipykernel_15429/1665587909.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dpe_44_2020['adresse_parsee_dict'] = df_dpe_44_2020['adresse_normalisee'].apply(parse_to_dict)
/tmp/ipykernel_15429/1665587909.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dpe_44_2020['house_number'] = df_dpe_44_2020['adresse_parsee_dict'].apply(lambda x: x.get('house_number', ''))
/tmp/ipykernel_15429/1665587909.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dpe_44_2020['road']         = df_dpe_44_2020['adresse_parsee_dict'].apply(lambda x: x.get('road', ''))
/tmp/ipykernel_15429/1665587909.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dpe_44_2020['postcode']     = df_dpe_44_2020['adresse_parsee_dict'].apply(lambda x: x.get('postcode', ''))
/tmp/ipykernel_15429/1665587909.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dpe_44_2020['city']         = df_dpe_44_2020['adresse_parsee_dict'].apply(lambda x: x.get('city', ''))

In [37]:
df_dpe_44_2020.head()

,numero_dpe,nom_methode_dpe,version_methode_dpe,date_etablissement_dpe,consommation_energie,classe_consommation_energie,estimation_ges,classe_estimation_ges,annee_construction,surface_thermique_lot,...,tv016_departement_code,geo_adresse,geo_score,year,adresse_normalisee,adresse_parsee_dict,house_number,road,postcode,city
9870735,2044L2000001W,Méthode Facture,NaN,2020-02-01,366.00,F,11.0,C,1947,67.31,...,44,16 Rue de l'Atlantique 44650 Legé,0.96,2020.0,16 rue de l'atlantique 44650 lege,"{'house_number': '16', 'road': 'rue de l'atlan...",16,rue de l'atlantique,44650,lege
9870778,2044V1000001W,Méthode 3CL,"3CL-DPE, version 1.3",2020-02-01,128.00,C,30.0,D,1989,72.00,...,44,11 Rue de la Haute Mitrie 44300 Nantes,0.97,2020.0,11 rue de la haute mitrie 44300 nantes,"{'house_number': '11', 'road': 'rue de la haut...",11,rue de la haute mitrie,44300,nantes
9870785,2044V1000002X,Méthode 3CL,"3CL-DPE, version 1.3",2020-02-01,144.00,C,33.0,D,1978,101.00,...,44,54 Rue Jean Marie Desbrosses 44800 Saint-Herblain,0.97,2020.0,54 rue jean marie desbrosses 44800 saint-herblain,"{'house_number': '54', 'road': 'rue jean marie...",54,rue jean marie desbrosses,44800,saint-herblain
9870800,2044V1000003Y,3CL - DPE,V2012,2020-02-01,326.03,E,14.9,C,1987,19.98,...,44,13 Rue du Coudray 44000 Nantes,0.98,2020.0,13 rue du coudray 44000 nantes,"{'house_number': '13', 'road': 'rue du coudray...",13,rue du coudray,44000,nantes
9870807,2044V1000004@,Méthode 3CL,"3CL-DPE, version 1.3",2020-02-01,299.00,E,16.0,C,1959,70.00,...,44,8 Rue de la Treille 44680 Chaumes-en-Retz,0.51,2020.0,8 rue de la treille 44680 chaumes-en-retz,"{'house_number': '8', 'road': 'rue de la treil...",8,rue de la treille,44680,chaumes-en-retz

In [38]:
def creer_cle_adresse(house_number, road, postcode, city):
    return f"{house_number.strip().lower()}_{road.strip().lower()}_{postcode.strip()}_{city.strip().lower()}"

In [39]:
df_valeurs_44['identifiant_comm'] = df_valeurs_44.apply(
    lambda row: creer_cle_adresse(row['house_number'], row['road'], row['postcode'], row['city']),
    axis=1
)

df_dpe_44_2020['identifiant_comm'] = df_dpe_44_2020.apply(
    lambda row: creer_cle_adresse(row['house_number'], row['road'], row['postcode'], row['city']),
    axis=1
)

/tmp/ipykernel_15429/4160141321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valeurs_44['identifiant_comm'] = df_valeurs_44.apply(
/tmp/ipykernel_15429/4160141321.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dpe_44_2020['identifiant_comm'] = df_dpe_44_2020.apply(

In [40]:
print(df_valeurs_44[['house_number','road','postcode','city','identifiant_comm']].head(5))
print(df_dpe_44_2020[['house_number','road','postcode','city','identifiant_comm']].head(5))

        house_number                  road postcode         city  \
1566104          2.0             rue lemot  44100.0       nantes
1566105          2.0             rue lemot  44100.0       nantes
1566106          4.0            rue richer  44100.0       nantes
1566107          4.0            rue richer  44100.0       nantes
1566108          2.0  allee de l'orangerie  44800.0  st-herblain

                                     identifiant_comm
1566104                  2.0_rue lemot_44100.0_nantes
1566105                  2.0_rue lemot_44100.0_nantes
1566106                 4.0_rue richer_44100.0_nantes
1566107                 4.0_rue richer_44100.0_nantes
1566108  2.0_allee de l'orangerie_44800.0_st-herblain
        house_number                       road postcode             city  \
9870735           16        rue de l'atlantique    44650             lege
9870778           11     rue de la haute mitrie    44300           nantes
9870785           54  rue jean marie desbrosses    44800   saint-herblain
9870800           13             rue du coudray    44000           nantes
9870807            8          rue de la treille    44680  chaumes-en-retz

                                          identifiant_comm
9870735                  16_rue de l'atlantique_44650_lege
9870778             11_rue de la haute mitrie_44300_nantes
9870785  54_rue jean marie desbrosses_44800_saint-herblain
9870800                     13_rue du coudray_44000_nantes
9870807          8_rue de la treille_44680_chaumes-en-retz

In [41]:
df_match = pd.merge(
    df_valeurs_44,
    df_dpe_44_2020,
    on='identifiant_comm',
    how='inner',  # ou left, selon ton besoin
    suffixes=('_valeurs', '_dpe')
)