# 0. Initialisation

In [7]:
import pandas as pd
import numpy as np 
from helpers import s3_connection

In [8]:
s3 = s3_connection()

Connection successful

# 1. Ouverture des fichiers

## 1.1. DPE

In [11]:
path_DPE1 = "clichere/DPE/DPE_source/dpe-1.csv"

DPE1 = s3.read_csv_from_s3(path_DPE1)

print(DPE1)

Error reading CSV file from S3: Forbidden
None

In [10]:
print(DPE1.columns)

AttributeError: 'NoneType' object has no attribute 'columns'

## 1.2. Valeurs foncières

In [ ]:
# Problème lors de l'ouverture du fichier : à debug
path_valeursfoncieres_2021 = "clichere/Valeursfoncieres/valeursfoncieres-2021.txt"
vf2021 = s3.read_csv_from_s3(path_valeursfoncieres_2021, sep="|")

Error reading CSV file from S3: Forbidden

In [ ]:
print(vf2021.columns)

AttributeError: 'NoneType' object has no attribute 'columns'

In [7]:
vf2021

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2021,Vente,...,NaN,0,1.0,Maison,NaN,97.0,5.0,S,NaN,2410.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2021,Vente,...,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,2410.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2021,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,530.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2021,Vente,...,NaN,0,1.0,Maison,NaN,88.0,4.0,S,NaN,866.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2021,Vente,...,NaN,0,1.0,Maison,NaN,168.0,5.0,S,NaN,1426.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4649204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12/03/2021,Vente,...,NaN,2,2.0,Appartement,NaN,30.0,2.0,NaN,NaN,NaN
4649205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,17/03/2021,Vente,...,NaN,2,2.0,Appartement,NaN,37.0,2.0,NaN,NaN,NaN
4649206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,19/03/2021,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
4649207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30/03/2021,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
4649208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,19/03/2021,Vente,...,NaN,2,4.0,Local industriel. commercial ou assimilé,NaN,56.0,0.0,NaN,NaN,NaN